<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 80px;">
        <a class="navbar-brand" routerLink="/customer-dashboard"
            style="font-size: x-large;"><strong>HOTBYTE</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <!-- <i class="fa fa-user" style="font-size: 20px; color: white;"></i> -->
                    <a class="nav-link" [routerLink]="'/orders/'+getCustomerIdFromLocalStorage()">My Orders </a>
                </li>

                
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()">Log out</a>
                </li>


            </ul>
            
        </div>
    </nav>
</div>

<div class="container mt-5 ">
  <h1 class="mb-4">Add Payment Method </h1>

  <div class="col-md-8 mx-auto border p-4 d-inline-block">
    <!-- Heading above the Apply Discount button -->
    <!-- <h2 class="mb-4">Discounts</h2> -->

    <button class="btn btn-primary ml-2" (click)="applyDiscount()" [disabled]="discountApplied">Apply Discount</button>

    <div class="container mt-4">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="paymentOption" id="codOption" [(ngModel)]="selectedPaymentOption" (change)="togglePlaceOrderButton()" value="cod">
        <label class="form-check-label" for="codOption">
          Cash on Delivery
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="paymentOption" id="netbankingOption" [(ngModel)]="selectedPaymentOption" (change)="togglePlaceOrderButton()" value="card-payment">
        <label class="form-check-label" for="netbankingOption">
          Card Payment
        </label>
      </div>
    </div>

    <div class="container mt-2">
      <button class="btn btn-primary ml-2" (click)="placeOrder()" [disabled]="!isPlaceOrderEnabled">Place Order</button>
    </div>

    <div class="container mt-2" *ngIf="selectedPaymentOption === 'card-payment'">
      <h2 class="mb-4">Add Payment Method</h2>
      <form>
        <div class="form-group">
          <label for="cardNumber">Card Number</label>
          <input type="text" class="form-control" id="cardNumber" name="cardNumber" placeholder="Enter card number" [(ngModel)]="cardPaymentDetails.cardNumber">
        </div>
        <div class="form-group">
          <label for="expiryDate">Expiry Date</label>
          <input type="text" class="form-control" id="expiryDate" name="expiryDate" placeholder="MM/YYYY" [(ngModel)]="cardPaymentDetails.expiryDate">
        </div>
        <div class="form-group">
          <label for="cvv">CVV</label>
          <input type="text" class="form-control" id="cvv" name="cvv" placeholder="Enter CVV" [(ngModel)]="cardPaymentDetails.cvv">
        </div>
        <div class="form-group">
          <label for="customerName">Customer Name</label>
          <input type="text" class="form-control" id="customerName" name="cardHolder" placeholder="Enter customer name" [(ngModel)]="cardPaymentDetails.cardHolder">
        </div>
       
    
        <button type="button" class="btn btn-primary" (click)="placeOrder()">Submit</button>
      </form>
    </div>
  </div>
</div>
