<!-- menu-items.component.html -->
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 80px;">
        <a class="navbar-brand" href="#" style="font-size: x-large;"><strong>HOTBYTE</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <!-- <i class="fa fa-user" style="font-size: 20px; color: white;"></i> -->
                    <a class="nav-link" href="#">Profile </a>
                </li>

                <li class="nav-item">
                    <!-- <i class="fa fa-shopping-cart" style="font-size: 20px; color: white;"></i> -->
                    <a class="nav-link" href="#">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Offers</a>
                </li>


            </ul>
            <form class="form-inline my-2 my-lg-0" (submit)="getMenuByKeyword()" >
                <div class="input-group">
                    <input id="searchInput" [(ngModel)]="searchMenu" name="searchMenu" class="form-control mr-sm-2" type="search"
                        placeholder="Search" aria-label="Search" style="width: 300px;">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </nav>
</div>


<!--card-->
<div class="container">
    <h2>Menu Items</h2>
    <div *ngIf="menuItems.length > 0; else noItems">
        <div class="row">
          <div class="col-md-4" *ngFor="let menuItem of menuItems">
            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-8">
                  <div class="card-body">
                    <h2 class="card-title">{{ menuItem.itemName }}</h2>
                    <p class="card-text">Description: {{ menuItem.description }}</p>
                    <p class="card-text">Category: {{ menuItem.category }}</p>
                    <p class="card-text">Price: {{ menuItem.price }}</p>
                    <button class="btn btn-primary">Add to Cart</button> 
                  </div>
                </div>
                <div class="col-md-4">
                  <img [src]="menuItem.decodedImage" class="card-img" alt="..." style="height:100%; "> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    <ng-template #noItems>
        <p>No menu items available.</p>
    </ng-template>
</div>