.table{
    border: 2px solid black;
}

.table th{
    background-color:rgb(23,147,188) ;
    border: 2px solid black;
}

.table td{
    border: 2px solid black;
}

.table tbody tr:nth-child(even) td {
    background-color: rgb(224, 221, 221);
}