<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

   </head>
  
  

 
 <body>
  <div class="menu-wrapper">
      <div class="sidebar-header">
          <div class="sideBar">
              <ul>
                  <li class="selected"><i class="fa fa-home"></i><label>Dashboard</label></li>
                  <li><a routerLink="/display-restaurant" ><i class="fa fa-cutlery"></i><label>Restaurants</label></a></li>
                  <li><a routerLink="/register-manager"><i class="fa fa-user-plus"></i><label>Managers</label></a></li>
                  <li><a routerLink="/display-discounts"><i class="fa fa-percent"></i><label>Discount/offers</label></a></li>
                  <li><i class="fa fa-users"></i><label>Customers</label></li>
                  <li><i class="fa fa-sign-out"></i><label>Log out</label></li>
                  
              </ul> <span class="cross-icon"><i class="fas fa-times"></i></span>
          </div>
          <div class="content">              
              <div class="content-data"> 
                <router-outlet></router-outlet>
              </div>
          </div>
      </div>
  </div>
</body>
 
     
 
     
 
 